body {
  margin: 0;
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: #eee;
  width: 100%;
  height: 100%;
}

html {
  --yad-primary-color: #0d47a1;
  --yad-primary-color-hover: #1976d2;
  --yad-primary-color-dark: #002171;
  --yad-primary-color-light: #1976d2;
  --yad-primary-ontext-color: #ffffff;

  --yad-secondary-color: #1976d2;
  --yad-secondary-color-dark: #0d47a1;
  --yad-secondary-color-light: #63a4ff;
  --yad-secondary-ontext-color: #000000;
  
  --yad-accent-color: #008600;
  --yad-accent-color-dark: #005700;
  --yad-accent-color-light: #4db73c;
  --yad-accent-ontext-color: #ffffff;

  --yad-item-hover-dark: #9fa8da;
  --yad-item-selected: #bbdefb;

  height: 100%;
}

.yad-groups {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.yad-group-container {
  margin: 3px;
  max-width: 480px;
  min-width: 320px;
  flex-grow: 1;
  box-sizing: border-box;
}

.yad-group-card {
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  padding: 16px;
  border-radius: 4px;
}

.yad-group-rows {
  display: flex;
  flex-direction: column;
}

.yad-group-rows > :first-child {
  margin-top: 0px !important;
}

.yad-group-row {
  box-sizing: border-box;
  margin-top: 10px;
}


.yad-group-columns {
  display: flex;
}

.yad-group-columns > :last-child {
  margin-right: 0 !important;
}

.yad-group-column {
  box-sizing: border-box;
  flex-grow: 1;
  margin-right: 10px;
}
